In [4]:
import numpy as np
import pandas as pd

In [5]:
gallup = pd.read_csv("C:/Users/shrof/OneDrive/Documents/Documents/UVA/Summer 2024 Semester/App of DS/USAIPO1936-0053.csv")

In [11]:
gallup.head(3).T

,0,1,2
form,NaN,NaN,NaN
state,Indiana,Illinois,Michigan
region,East Central,East Central,East Central
female,Male,Male,Male
age,NaN,NaN,NaN
class,Av+,Av+,Av
OCCUPATION1,Skilled workers,Skilled workers,Business
OCCUPATION2,NaN,NaN,NaN
OCCUPATION3,NaN,NaN,NaN
black,NaN,NaN,NaN
size,Urban,Urban,Urban
education,NaN,NaN,NaN
AGE_3WAY,NaN,NaN,NaN
AGE40,NaN,NaN,NaN
OCC8,Labor,Labor,Professional
prof,Not Professional,Not Professional,Professional
REGION4,Midwest,Midwest,Midwest
EDU_RECODE,NaN,NaN,NaN
VOTE_PRO,Landon,Landon,Landon
VOTE_RETRO,Hoover,Hoover,Hoover
PHONE_RECODE,NaN,NaN,NaN
CAR_RECODE,NaN,NaN,NaN
ballot,53,53,53
Q1,Yes,Yes,No
Q2,Yes,NaN,No
Q3,Yes,Yes,Yes
Q4A,Roosevelt,Landon,Landon
Q4B,Roosevelt,Landon,Landon
Q4C,Landon,Landon,Landon
Q5A,Landon,Landon,Landon
Q5B,"Yes, voted for Hoover","Yes, voted for Hoover","Yes, voted for Hoover"
farm,Non-Farm,Non-Farm,Non-Farm
SIZE3,Urban,Urban,Urban
urban,Urban,Urban,Urban
StPOAbrv,in,il,mi
SOUTH11,Non-South,Non-South,Non-South
SOUTH11xBLACK,NaN,NaN,NaN
SOUTH12,Non-South,Non-South,Non-South
SOUTH12xBLACK,NaN,NaN,NaN
south,Non-South,Non-South,Non-South
SOUTHxBLACK,NaN,NaN,NaN
year,1936,1936,1936
WtPubFeas,NaN,NaN,NaN
WtVotFeas,NaN,NaN,NaN

In [17]:
pd.crosstab(gallup['Q5A'], gallup['Q3'])

Q3            No   Yes
Q5A
Landon       921   820
Lemke         41   109
Other party    6     6
Roosevelt    442  2048
Thomas        10    41

In [18]:
ABC = pd.read_stata("C:/Users/shrof/OneDrive/Documents/Documents/UVA/Summer 2024 Semester/App of DS/31120928.dta")

In [20]:
ABC.head(3).T

,0,1,2
respid,260840001,260840002,260840003
weight_pid,0.7127,0.8026,0.9083
complete_status,qualified,qualified,qualified
q1_1,unfavorable,unfavorable,favorable
q1_2,favorable,favorable,unfavorable
q2_1,disapprove,disapprove,approve
q2_2,disapprove,disapprove,approve
q2_3,approve,disapprove,approve
q2_4,disapprove,disapprove,approve
q2_5,disapprove,disapprove,approve
q2_6,approve,disapprove,approve
q2_7,disapprove,disapprove,approve
q2_8,disapprove,disapprove,approve
q2_9,disapprove,disapprove,approve
q3_1,approve,approve,disapprove
q3_2,disapprove,approve,disapprove
q3_3,approve,approve,disapprove
q3_4,approve,approve,disapprove
q3_5,approve,approve,disapprove
q3_7,disapprove,approve,disapprove
q3_8,approve,approve,disapprove
q4,donald trump,donald trump,joe biden
q5,the same as you expected,the same as you expected,better than you expected
qpid,a republican,a republican,a democrat
ppworka,retired,retired,employed full-time (by someone else)
abcage,65+,65+,65+
ppage,77,76,65
ppeducat,bachelors degree or higher,high school,high school
ppeduc5,masters degree or above,high school graduate (high school diploma or t...,high school graduate (high school diploma or t...
ppethm,"white, non-hispanic","white, non-hispanic","black, non-hispanic"
ppgender,male,female,male
pphhsize,2,1,2
pphouse4,one-family condo or townhouse attached to othe...,a one-family house detached from any other house,a one-family house detached from any other house
ppinc7,"$150,000 or more","$50,000 to $74,999","$75,000 to $99,999"
ppmarit5,widowed,now married,now married
ppmsacat,metro,metro,metro
ppreg4,west,south,south
ppreg9,pacific,south atlantic,south atlantic
pprent,owned or being bought by you or someone in you...,owned or being bought by you or someone in you...,owned or being bought by you or someone in you...
ppstaten,california,florida,north carolina
ppemploy,not working,not working,working full-time
ppt18ov,2,1,2
ppkid017,0,0,0
xspanish,english,english,english
xparty4,independent,republican,democrat
xurbanicity,urban,suburban,urban
contact,"no, i am not willing to be interviewed","no, i am not willing to be interviewed","no, i am not willing to be interviewed"

In [32]:
widths = pd.read_csv("C:/Users/shrof/Downloads/USIA data widths - Sheet1.csv")

In [33]:
widths

     Column  Width
0         1      4
1         2      3
2         3      1
3         4      1
4         5      1
..      ...    ...
131     132      2
132     133      1
133     134      1
134     135      1
135     136      1

[136 rows x 2 columns]

In [34]:
widths['Width']

0      4
1      3
2      1
3      1
4      1
      ..
131    2
132    1
133    1
134    1
135    1
Name: Width, Length: 136, dtype: int64

In [35]:
usiaa = pd.read_fwf("C:/Users/shrof/Downloads/i20068.dat", width = widths['Width'], header = None)

In [36]:
usiaa

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,11552121081214231313122423213123344234 2 3,6.0,NaN,13 85333433543332,1533444325531331442331353433,1.0,NaN,NaN,NaN,NaN,NaN,6 164,1,313314 2 2,NaN,NaN,353,15 62 4 4,64
1,2155212120 913111111111412223233332233 2 3,NaN,NaN,23 8532233211222,1533344424432321842331252333,NaN,NaN,NaN,2.0,8.0,NaN,6 43,1,1033141 2,NaN,NaN,413,16 61,3
2,315521210214 221211112313223212144234 2 8,NaN,NaN,33 9022234244232,1534444424441332444441453444,78.0,8.0,1.0,NaN,NaN,NaN,41043,1,233145,NaN,NaN,322,15 11,5
3,4155212129 913231221122332113222233233 2 6,NaN,NaN,13 3032233211321,1533233324542321443331352111,NaN,NaN,NaN,NaN,NaN,NaN,3 44,7,1833121 2,NaN,NaN,272,16 51,3
4,5155211 113 9221331112242213111232233 2 6,8.0,NaN,34 47311241113333,2534444424541332442331253434,1.0,75.0,NaN,NaN,NaN,NaN,4 53,7,1032121 2,NaN,NaN,403,16 71,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,247283229 913222222222223333333333821,NaN,NaN,13 9822315432211,97333333333333444444444442142,NaN,NaN,NaN,NaN,NaN,NaN,98 1,1,221325,NaN,NaN,252,1217215 6,25
2033,248283222102 61122221111113223333333832398,NaN,NaN,81 9821232333251,97233333333333222222222211111,NaN,NaN,NaN,NaN,NaN,NaN,98 3,98,11131 2,NaN,NaN,555,12172 5 7,72
2034,249283228 98 888888888833333333338888,NaN,NaN,88 88888988888,98888888888888888888888888888,NaN,NaN,NaN,NaN,NaN,NaN,98 9,99,8888 2 1 1,2.0,NaN,78 88 515 210201,15172 4 1,17
2035,250283229 98 333333333333333333331882,NaN,NaN,44 9881888888888,98444444445555333333333388111,NaN,NaN,NaN,NaN,NaN,NaN,99 8,99,322102 2,NaN,NaN,504,13172 3 6,44
2036,251255122163 9 6343334223248888888884328,NaN,NaN,18 83344888288,98888888818538881848888812111,NaN,NaN,NaN,NaN,NaN,NaN,99 4,1,212141 2,NaN,NaN,454,11172 3 6,15